<div class="h-100">    
    <!-- progress start -->
    <div class="c-progress-wrapper">
        <div class="c-progress-col">
            <p class="setting_page_title c-progress-col__title" id="settings_content">Snake Speed</p>
            <figure class="c-progress-col__image">
                <img alt="" class="img-fluid setting_progress_emoji"/>
            </figure>
            <div class="c-progress-col__progress">
                <div class="progress setSpeedControl">
                    <div tabindex="0" class="progress-bar progress-bar-control setSpeedControl" speed="200" speedincrease="true" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <span class="handler" aria-labelledby="settings_content"></span>
                    </div>
                </div>
            </div>
            <div role="region" aria-live="polite" class="c-progress-col__text col progress-bar-control-level-text">
                Medium
            </div>
            <p class="mt-3 c-settingcontent-details">You can change the speed of the snake by clicking the slider. <br>There are three speeds: easy, medium and hard.</p>
        </div>
        
    </div>
    <!-- progress end -->
</div>