<div class="c-form--container" style="display: block;">
    <div class="row no-gutters">
        <div class="c-form--status col-sm-4">
            <h2 class="h2">Well done!</h2>
            <p>Add your Score</p>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="inputUsername">My username</label>
                        <input type="text" class="form-control" id="inputUsername">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputPassword">My password</label>
                        <input type="text" class="form-control" id="inputPassword">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputGo" class="c-golabel"> &nbsp;</label>
                        <button class="btn btn-default" id="inputGo">Go</button>
                    </div>
                </div>
                <div class="form-group">
                    <p id="noThanks" style="cursor: pointer;">No thanks, I don’t want to add my score</p>
                </div>

            </form>
        </div>
        <div class="c-form--robotimage col-sm-3">
            <img src="" class="savescoreImg" alt="Robot Image" />
        </div>
    </div>
</div>