/*--------------------------- Heading variations ----------------------*/
/*--------------------------- Color variations ----------------------*/
/* - Brand Gradient */
.btn-default {
  background: #fff;
    color: #000;
    border-color: #fff;
    border-width: 3px;
    border-radius: 50px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 900;
    padding:.6rem 1.5rem .4rem 1.5rem;
    font-family: 'museo_sans_rounded900';
}

.btn-default:hover {
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #EB0104;
}

.btn-default:active {
  background: #fff;
}

.btn-primary {
  background: #1B60F4;
  border-color: #1B60F4;
}

.btn-primary:hover {
  background: #0b4ddc;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-primary:active {
  background: #073089;
}

.btn-success {
  background: #00A417;
  border-color: #00A417;
}

.btn-success:hover {
  background: #007b11;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-success:active {
  background: #002505;
}

.btn-danger {
  background: #EB0104;
  border-color: #EB0104;
}

.btn-danger:hover {
  background: #c20103;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-danger:active {
  background: #6c0002;
}

.btn-info {
  background: #5185C1;
  border-color: #5185C1;
}

.btn-info:hover {
  background: #3d71ac;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-info:active {
  background: #26476c;
}
.play{
  background: #00A417;
  border-color: #00A417;
  /* position: relative; */
  width: 100px;
  height: 52px;
  margin-left: 407px;
  margin-top: 261px;
}
/* Medium Layout: 1920px */
/* Medium Layout: 1440px */
/* Tablet Layout: 768px */
/* Mobile Layout: 576px */
/* Wide Mobile Layout: 320px */
/* Medium Layout: 2560px */
/* Medium Layout: 1920px */
/* Tablet Layout: 1440px */
/* Mobile Layout: 1200px */
/* Wide Mobile Layout: 0px */
/* Medium Layout: 1920px */
/* Medium Layout: 1440px */
/* Tablet Layout: 768px */
/* Mobile Layout: 576px */
/* Wide Mobile Layout: 320px */
/* Medium Layout: 2560px Above */
/* Medium Layout: 1920px - 2559px */
/* Tablet Layout: 1440px - 1919px */
/* Mobile Layout: 1201px - 1439px */
/* Wide Mobile Layout: 0px - 1200px */
/* =================================== */
/*  Basic Style 
/* =================================== */
::-moz-selection, ::-moz-selection {
  /* Code for Firefox */
  background-color: #3bacf0;
  color: #fff;
}
::-moz-selection, ::selection {
  /* Code for Firefox */
  background-color: #3bacf0;
  color: #fff;
}

::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
  color: #595959;
  font-weight: 300;
  opacity: 1;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  display: block;
}

figure {
  margin: 0;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0;
}

.gray-bg {
  background: #f9f9ff;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1.125rem;
}

h6,
.h6 {
  font-size: 1rem;
}

small,
.small {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.875rem;
  color: #222222;
  line-height: 1.5;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  color: #222222;
  font-weight: 600;
  line-height: 1.4;
}

td,
th {
  border-radius: 0px;
}

.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.p-40 {
  padding: 40px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-italic {
  font-style: italic;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000000;
}

.transition {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section-full {
  padding: 100px 0;
}

.section-half {
  padding: 75px 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-rigth {
  text-align: right;
}

:root {
  /* Medium Layout: 1920px */
  /* Medium Layout: 1440px */
  /* Tablet Layout: 768px */
  /* Mobile Layout: 576px */
  /* Wide Mobile Layout: 320px */
}

@media (min-width: 1920px) and (max-width: 2560px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  :root {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  :root {
    font-size: 18px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  :root {
    font-size: 16px;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6 h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

small {
  line-height: 1.5;
}

.h1, h1 {
  font-size: 2rem;
}

.h2, h2 {
  font-size: 1.75rem;
}

.h3, h3 {
  font-size: 1.5rem;
}

.h4, h4 {
  font-size: 1.25rem;
}

.h5, h5 {
  font-size: 1.125rem;
}

.h6, h6 {
  font-size: 1rem;
}

@media (min-width: 2560px) and (max-width: 6000px) {
  .fa, .icon {
    font-size: 1.5rem;
    font-weight: normal;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  .fa, .icon {
    font-size: 1.5rem;
    font-weight: normal;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .fa, .icon {
    font-size: 1.5rem;
    font-weight: normal;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .fa, .icon {
    font-size: 1.25rem;
    font-weight: normal;
  }
}

@media (min-width: 0px) and (max-width: 1199px) {
  .fa, .icon {
    font-size: 1rem;
    font-weight: normal;
  }
}

.icon, a .icon {
  text-decoration: none;
}

.icon:visited, a .icon:visited {
  color: #1B60F4;
}

.icon:hover, .icon:visited:hover, a .icon:hover, a .icon:visited:hover {
  color: #1B60F4;
  text-decoration: none;
}

.btn.btn-primary .icon {
  text-decoration: none;
}

.btn.btn-primary .icon:visited {
  color: #fff;
}

.btn.btn-primary .icon:hover, .btn.btn-primary .icon:visited:hover {
  color: #fff;
  text-decoration: none;
}

.c-screen {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}

.c-screen.two {
  /* background-image: url("../img/escape-landingPage_screen2.svg"); */
}
.c-screen.two .c-game-instruction{ text-align: center;}

.c-screen.three {
  /* background-image: url("../img/escape-Start-screen.svg"); */
}

.c-screen.theme1.c-snakey--startscreen {
  background-image: url("../img/Snakey-start-screen-primaryV2.svg");
}
.c-screen.theme2.c-snakey--startscreen {
  background-image: url("../img/Snakey-start-screen-secondaryV2.svg");
}

/* .c-screen.theme1.c-snakey--gameplayscreen {
  background-image: url("../assets/images/theme1/Snakey-gameplay-screen-primaryV2.svg");
}
.c-screen.theme2.c-snakey--gameplayscreen {
  background-image: url("../assets/images/theme2/Snakey-gameplay-screen-secondaryV2.svg");
} */

#c-skip-header {
  padding: 6px;
  position: absolute;
  top: -60px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: #BF1722;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 100;
}

#c-skip-header:focus {
  left: 0px;
  top: 0px;
  outline-color: transparent;
  -webkit-transition: top .1s ease-in;
  transition: top .1s ease-in;
}

.c-header__standard {
  background-color: #000000;
  height: 68px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.c-site-branding {
  padding: 16px 0 15px;
}

.c-site-branding .c-logo {
  width: 37px;
  height: 37px;
  /* background-image: url("../assets/images/logo.svg");
  background-repeat: no-repeat;
  background-position: 1px 2px;
    text-indent: -9999em;
  background-color: #fff;
  background-size: 92%; */
  display: block;
}

.c-site-title {
  margin: 0 270px;
  overflow: hidden;
  padding: 5px 0;
}

.c-site-title .c-site-title__images {
  line-height: 60px;
  font-family: 'Bowlby One SC', cursive;
  font-size: 32px;
  color: #ED1C24;
}

.c-site-title .c-site-title__images.c-site-title__snakeysums {
  /* background-image: url("../assets/images/snakeysums_title.svg"); */
}
#c-page{ height: 100%;}
.c-page-title {
  font-size: 35px;
  font-family: 'museo_sans_rounded700';
  font-style: italic;
  color: #fff;
}

.c-page-subtitle {
  font-size: 65px;
  color: #fff;
  font-family: 'museo_sans_rounded700';
}

.c-template-question {
  font-size: 26px;
  color: #fff;
  padding-top: 70px;
  font-weight: 600;
}
.c-screen-content{    
  position: relative;
  height: 100%;;
}

.c-instruction-content {
  position: absolute;
  right: 0;
  bottom: 40px;
}

.c-instruction-content .c-game-instruction {
  background-color: rgba(34, 91, 89, 0.75);
  width: 330px !important;
  border-radius: 65px;
  padding: 25px;
  border: 4px solid #fff;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

.c-snakeysum-container {
  position: relative;
}
html, body, .main-wrapper {
  height: 100%;
}
 
body {
  background-attachment: fixed;
  margin: 0;
  background: black;
  font-size: 18px;
  font-family: 'museo_sans_rounded500';
}
 
a.btn-primary:focus, a.btn-primary:active, button.btn-primary:focus, button.btn-primary:active {
  color: #fff !important;
}
 
input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
 
input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
 
/*==============Class Page CSS Start Here =======================*/
/*# sourceMappingURL=styles.css.map */
.parent-container {
  position: relative;
  background: black;
}
#qustionContainer {
}
#qustionContainer > span {
  font-family: 'museo_sans_rounded700';
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
 
/* #leftArrow,
#rightArrow {
    background: blue;
    height: 20px;
    width: 50px;
    display: inline-block;
 
    
} */
 
.control-button {
  background: blue;
  height: 20px;
  width: 50px;
  display: inline-block;
 
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
 
#touchDevicesControllerDiv {
  /* display: none; */
  position: absolute;
  top: 94%;
}
.right-touch-control-area {
  position: absolute;
  top: 94%;
  right: 0;
}  

.c-common-relative{ position:relative;}
.c-site-info {
  position: absolute;
  right: 15px;
  top: 16px;
  width: 37px;
  height: 37px;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  display: block;
  text-indent: -9999em;
}

.c-snakeysum-container .c-snakeysum-startscreen {
  height: calc(100vh - 190px);
}

.c-snakeysum-container .c-snakeysum-startscreen .c-snakeysum--btn {
  
}

.c-snakeysum-container .c-snakeysum-content {
  position: relative;
  z-index: 1;
}

.c-snakeysum-container .c-snakeysum-content .c-question-state {
  position: absolute;
  left: 50%;
  top: 16px;
  width: 230px;
  height: 110px;
  background-image: url("../img/question-box.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  display: block;
  margin-left: -140px;
}

.c-snakeysum-container .c-snakeysum-content .c-live-state {
  position: absolute;
  right: 50px;
  top: 16px;
  width: 110px;
  height: 85px;
  background-image: url("../img/live-box.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  display: block;
  margin-right: -35px;
}

html, body, .main-wrapper {
  height: 100%;
}

body {
  background-attachment: fixed;
}

a.btn-primary:focus, a.btn-primary:active, button.btn-primary:focus, button.btn-primary:active {
  color: #fff !important;
}

input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#c-maincontent{
  /* background-image: url("../img/escape-Start-screen.svg"); */
  /* position: relative;
  height: 100%; */
}
#game{
  position: absolute;
  top: 0;
}
canvas{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#player_lives {
  color: white;
}

#game_end_screen {
display: none;
color: white;
text-align: center;
margin-top: 190px;
font-weight: bold;
font-size: 40px;
}


.c-sequence-screen{ 
  height: 60px;
  width: 800px;
  position: absolute;
  margin-left: -400px;
  left: 50%;
  top: 70px;
  text-align: center;
}
.c-sequence-screen span{ 
  background-color: rgba(255, 255, 255, 0.75);
  border: 3px solid #fff;
  border-radius: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 55px;
  display: inline-block;
  padding: 0 15px;
}

.c-sequence-point{
height: 60px;
background-color: rgba(255, 255, 255, 0.75);
width: 80px;
border: 3px solid #fff;
position: absolute;
border-radius: 30px;
text-align: center;
font-weight: 600;
font-size: 24px;
line-height: 55px;
top: 70px;
right:20px;
font-family: 'museo_sans_rounded700';
}

.c-sequence-locker{
height: 60px;
background-color: rgba(0, 0, 0, 1);
width: 180px;
position: absolute;
border-radius: 30px;
text-align: center;
font-weight: 600;
font-size: 22px;
line-height: 45px;
top: 70px;
right: 120px;
overflow: hidden;
padding-left: 13px;
}

.c-sequence--locker__green{
width: 31px;
height: 38px;
background-image: url("../img/locker-green.svg");
background-repeat: no-repeat;
background-position: 2px 0px;

display: block;
background-size: 80%;
position: relative;
overflow: hidden;
float: left;
margin-top: 10px;
margin-left: 0px;
}

.c-sequence--locker__red{
width: 31px;
height: 38px;
background-image: url("../img/locker-red.svg");
background-repeat: no-repeat;
background-position: 2px -5px;

display: block;
background-size: 90%;
position: relative;
overflow: hidden;
float: left;
margin-top: 12px;
margin-left: 0px;
}

.c-gameover-screen{ 
position: absolute;
width: 100%;
text-align: center;
height: 60px;
}

.c-playerlives-count{
  height: 120px;
  background-color: rgba(0, 0, 0, 1);
  width: 190px;
  top: 70px;
  border-radius: 60px;
  position: absolute;
  left: 20px;
  overflow: hidden;
  padding: 10px 12px;
}

.c-playerlives-images{ 
  width: 48px;
  height: 95px;
  background-image: url(../img/lives.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  display: block;
  float: left;
  margin: 0 3px;
}

.c-playerlives-images:before{



}

#c-maincontent .container{ position: relative;     height: 100%;}

#game-score-section {
display: none;
position: relative;
z-index: 1;
top: 60px;
}

@media only screen and (max-width:1250px) {
  #game-score-section {
    top: -50px;
  }
}
@media only screen and (max-width:1150px) {
  #game-score-section {
    /* top: 80px; */
  }
}
.container {
  max-width: 85%;
}
.c-high-score{
position: absolute;
right: 0;
vertical-align: middle;
display: flex;
top: 20px;
right: 65px;
color: #fff;
font-family: 'museo_sans_rounded700';
line-height: 31px;
}
.c-high-score label{
min-width: 70px;
height: 30px;
background-color: #fff;
border-radius: 30px;
margin-left: 5px;
margin-bottom: 0;
text-align: center;
color: #ff0000;
font-family: 'museo_sans_rounded700';
}

/*==============Class Page CSS Start Here =======================*/
/*# sourceMappingURL=styles.css.map */


.c-content-instruction{ 
  background-color: rgba(2, 51, 27, 0.75);
  padding: 25px;
  position: absolute;
  width: 630px;
  bottom: 0;
  right: 20px;
  border-radius: 22px 22px 0 0;
  text-align: left;
}
.c-content-instruction h2{
  font-size: 50px;
  margin-bottom: 15px;
  color: #fff;
  font-family: 'museo_sans_rounded700';
}  
.c-content-instruction p{
  color: #fff;
  text-align: left;
  font-size: 30px;
  font-family: 'museo_sans_rounded500';
} 
.c-instruction--game{
  max-width: 450px;
  margin: 10px auto 20px;
}
.c-instruction--game img{
  max-width: 100%;

}
.c-runner--control{ 
  width: 250px;
  height: 250px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.c-runner--plate{
  width: 200px;
  height: 200px;
  background-image: url("../img/plate-control.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -100px;
  margin-top: -45px;
}
.c-btn--runner{
  width: 100px;
  height: 100px;
  background-image: url("../img/control-btn.svg");
  background-repeat: no-repeat;
  background-position: -1px 2px;
  position: absolute;
  /* left: 50%;
  top: 50%; */
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 50%;
}
.c-runner--jump{ 
  width: 250px;
  height: 250px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.c-runner--jumpplate{
  width: 240px;
  height: 240px;
  background-image: url("../img/jump-control.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -120px;
  margin-top: -120px;
}
.c-btn--runnerjump{
    width: 130px;
    height:130px;
    background-image: url(../img/jumpcontrol-btn.svg);
    background-repeat: no-repeat;
    background-position: 0px -3px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -54px;
    margin-top: -87px;
    border-radius: 50%;
}


#game_end_screen {
  display: none;
  color: white;
  text-align: center;
  margin-top: 190px;
  font-weight: bold;
  font-size: 40px;
}

.c-gameover-screen {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 60px;
}


.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  -webkit-animation: rotate 1s infinite linear;
  /* left, top and position just for the demo! */
  position: absolute;
  left: 50%;
  top: 50%;
}

@-webkit-keyframes rotate {
  /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@media only screen and (max-width:1150px) {
  .c-sequence-screen {
    width: 500px;
  }
}


.c-modal-main .modal-dialog{ width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;}
.c-modal-main .modal-content{height: 100%; background-color: rgba(0, 0, 0, 0.5);}
.c-modal-main .container{ position: relative;}
.c-modal--guide{height: 100%; padding-top: 80px; box-sizing: border-box;}
.c-modal--guide__head{font-weight: 500;}
.c-modal--guide h3, .c-modal--guide p{color: #fff; font-family: 'museo_sans_rounded300';}
.c-jellycont{ padding: 0; margin-bottom: 15px;}
.c-jellycont .block{max-width: 130px; list-style: none; font-family: 'museo_sans_rounded300';}
.escapeguide{margin-bottom: 30px;}
.escapeguide + .escapeguide{margin-bottom: 0;}
.escapeguide ul{padding: 0; margin-bottom: 30px;}
.escapeguide__icon{width: 155px; list-style: none; padding-left: 7px; padding-right: 7px;}
.h2{
  font-size: 27px;
  margin-bottom: 15px;
  color: #fff;
  font-family: 'museo_sans_rounded900';
} 

.close-btn{position: absolute;
  width: 40px;
  height: 40px;
  right: 30px;
  padding: 0;
  margin: 0;
  bottom: 0px;}
body.modal-open .c-header__standard{z-index: 10000;}
body.modal-open  .c-content-instruction{ display: none;}
.c-form--status {color: #fff; }
.c-form--status  .btn-default {
  padding: 0.3rem 1.5rem;
}

.c-settings--container, .c-progress-wrapper{ height: 100%;}
#settings:before {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  content: "";
  left: 0;
  top: 0;
}
.c-progress-col{width: 650px; position: relative;}
.c-progress-col p{color: #fff; font-size: 21px; font-family: 'museo_sans_rounded500'; }
.c-progress-col .c-progress-col__title{
  position: absolute; 
  width: 100%; 
  text-align: center;
  font-family: 'museo_sans_rounded900';  
  text-shadow: 1px 1px #000; 
  font-size: 35px;
  top: -150px;
  color: #fff;
  margin: 0;
}
.c-progress-col__image{width: 150px; margin-right: 25px;}
.c-progress-col__progress {
  width:325px;
  border-radius: 20px;
  background-color: #3da2fe;
  padding: 3px;
  box-sizing: border-box;
  position: relative;
  height: 39px;
  box-shadow: 1px 5px 5px #000;
  -moz-box-shadow:1px 5px 5px #000;
  -webkit-box-shadow: 1px 5px 5px #000;
}
.c-progress-col__progress .progress{
  width: calc(100% - 6px); 
  height: calc(100% - 6px); 
  overflow: visible;
  position: absolute; 
  left: 3px;
  top: 3px;
  border-radius: 20px;
  z-index: 1;
  border: 2px solid #fff;
  background-color: #062f42;
  box-shadow: inset 0 0 10px #000000;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
}
.progress-bar{
position: relative;
border: 1px solid #000;
border-radius:20px;
background: #0f3851; /* Old browsers */
background: -moz-linear-gradient(top,  #0f3851 2%, #f98dff 2%, #f98dff 2%, #fddaff 11%, #eb87ee 49%, #d41fdb 52%, #cd00d4 92%, #cd00d4 92%, #f98dff 93%, #f98dff 98%, #f98dff 98%, #0f3851 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0f3851 2%,#f98dff 2%,#f98dff 2%,#fddaff 11%,#eb87ee 49%,#d41fdb 52%,#cd00d4 92%,#cd00d4 92%,#f98dff 93%,#f98dff 98%,#f98dff 98%,#0f3851 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0f3851 2%,#f98dff 2%,#f98dff 2%,#fddaff 11%,#eb87ee 49%,#d41fdb 52%,#cd00d4 92%,#cd00d4 92%,#f98dff 93%,#f98dff 98%,#f98dff 98%,#0f3851 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f3851', endColorstr='#0f3851',GradientType=0 ); /* IE6-9 */

}
.progress-bar span.handler{
  background-image: url(../img/progress-handler.png);
  width: 60px;
  height: 84px;
  position: absolute;
  right: -22px;
  top: -26px;
  background-size: contain;
cursor: pointer;
}
.c-progress-col__text{
  color: #fff;
  font-family: 'museo_sans_rounded900';
  text-shadow: 2px 2px #000;
  font-size: 28px;
  padding-left: 25px;
}
.c-progress--text{
  text-align: center;
  padding-left: 0px;
}

.c-escapesettingsplay--btn#play_btn {
  right: 0;
  bottom: 40px;
  left: inherit;
  top: inherit;
}

.c-form--container{
  display: flex;
  align-items: center;
  height: 100%;
}
.c-form--container img{ 
  max-width: 82%;
  height: auto;
  position: absolute;
  bottom: -50px;
}
.c-form--container .no-gutters{ 
  align-items: center;
  height: 100%;
  width: 100%;
}
.c-form--robotimage{
  position: relative;
  height: 100%;
  overflow: hidden;
}
.c-form--status{
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.c-form--status h2{
  font-size: 42px;
}
.c-form--status p{
  font-size: 30px;
  font-family: 'museo_sans_rounded500';  
}
.c-form--status .form-group label{
  font-size: 26px;
}
.c-form--status .form-group .form-control {
  height: auto;
  padding: 0.8rem .75rem;
}
.golabel{ width: 100%;}
/*-------------------------------------------------------------
------------------@media Rule Start--------------------------*/


@media (min-width: 1400px) {

}

@media only screen and (min-width:1170px) and (max-width:1399px) {

}


/* ------------------------ SMALL DESKTOP ------------------------*/
@media only screen and (min-width:992px) and (max-width:1169px) {
  
  
  .escapeguide__icon { width: 130px;}
}
/* ------------------------ TABLET ------------------------*/

@media (min-width: 992px) {

}


@media only screen and (min-width:768px) and (max-width:991px) {

}

/* ------------------------ Mobile ------------------------*/
@media only screen and (max-width:767px) {

  


}
/* ------------------------ Mobile XS ------------------------*/
@media (max-width: 575px) {

}


.progress{
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

#play_btn{
  position: absolute;
  top: 282px;
  left: 392px;
}

#draggable{
  position: relative;
}

#draggableParent{
  position: relative;
  top: 50%;
  left: 50%;
}