/*--------------------------- Heading variations ----------------------*/


/*--------------------------- Color variations ----------------------*/


/* - Brand Gradient */

.btn-default {
    background: #fff;
    color: #000;
    border-color: #fff;
    border-width: 3px;
    border-radius: 50px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    padding: .575rem 1.5rem .4rem;
    font-family: 'museo_sans_rounded900';
    cursor: pointer;
}

.btn-default:hover {
    background: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #EB0104;
}

.btn-default:active {
    background: #fff;
}

.btn-primary {
    background: #1B60F4;
    border-color: #1B60F4;
}

.btn-primary:hover {
    background: #0b4ddc;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-primary:active {
    background: #073089;
}

.btn-success {
    background: #00A417;
    border-color: #00A417;
}

.btn-success:hover {
    background: #007b11;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-success:active {
    background: #002505;
}

.btn-danger {
    background: #EB0104;
    border-color: #EB0104;
}

.btn-danger:hover {
    background: #c20103;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-danger:active {
    background: #6c0002;
}

.btn-info {
    background: #5185C1;
    border-color: #5185C1;
}

.btn-info:hover {
    background: #3d71ac;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-info:active {
    background: #26476c;
}


/* Medium Layout: 1920px */


/* Medium Layout: 1440px */


/* Tablet Layout: 768px */


/* Mobile Layout: 576px */


/* Wide Mobile Layout: 320px */


/* Medium Layout: 2560px */


/* Medium Layout: 1920px */


/* Tablet Layout: 1440px */


/* Mobile Layout: 1200px */


/* Wide Mobile Layout: 0px */


/* Medium Layout: 1920px */


/* Medium Layout: 1440px */


/* Tablet Layout: 768px */


/* Mobile Layout: 576px */


/* Wide Mobile Layout: 320px */


/* Medium Layout: 2560px Above */


/* Medium Layout: 1920px - 2559px */


/* Tablet Layout: 1440px - 1919px */


/* Mobile Layout: 1201px - 1439px */


/* Wide Mobile Layout: 0px - 1200px */


/* =================================== */


/*  Basic Style 
  /* =================================== */

 ::-moz-selection,
 ::-moz-selection {
    /* Code for Firefox */
    background-color: #3bacf0;
    color: #fff;
}

 ::-moz-selection,
 ::selection {
    /* Code for Firefox */
    background-color: #3bacf0;
    color: #fff;
}

 ::-webkit-input-placeholder,
 :-moz-placeholder,
 :-ms-input-placeholder {
    color: #595959;
    font-weight: 300;
    opacity: 1;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

select {
    display: block;
}

figure {
    margin: 0;
}

iframe {
    border: 0;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    text-decoration: none;
    outline: 0;
}

.gray-bg {
    background: #f9f9ff;
}

h1,
.h1 {
    font-size: 2rem;
}

h2,
.h2 {
    font-size: 1.75rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.25rem;
}

h5,
.h5 {
    font-size: 1.125rem;
}

h6,
.h6 {
    font-size: 1rem;
}

small,
.small {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.875rem;
    color: #222222;
    line-height: 1.5;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    color: #222222;
    font-weight: 600;
    line-height: 1.4;
}

td,
th {
    border-radius: 0px;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.p-40 {
    padding: 40px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-italic {
    font-style: italic;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000000;
}

.transition {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.section-full {
    padding: 100px 0;
}

.section-half {
    padding: 75px 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-rigth {
    text-align: right;
}

 :root {
    /* Medium Layout: 1920px */
    /* Medium Layout: 1440px */
    /* Tablet Layout: 768px */
    /* Mobile Layout: 576px */
    /* Wide Mobile Layout: 320px */
}

@media (min-width: 1920px) and (max-width: 2560px) {
     :root {
        font-size: 16px;
    }
}

@media (min-width: 1440px) and (max-width: 1919px) {
     :root {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
     :root {
        font-size: 18px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
     :root {
        font-size: 16px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
     :root {
        font-size: 16px;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
}

small {
    line-height: 1.5;
}

.h1,
h1 {
    font-size: 2rem;
}

.h2,
h2 {
    font-size: 1.75rem;
}

.h3,
h3 {
    font-size: 1.5rem;
}

.h4,
h4 {
    font-size: 1.25rem;
}

.h5,
h5 {
    font-size: 1.125rem;
}

.h6,
h6 {
    font-size: 1rem;
}

@media (min-width: 2560px) and (max-width: 6000px) {
    .fa,
    .icon {
        font-size: 1.5rem;
        font-weight: normal;
    }
}

@media (min-width: 1920px) and (max-width: 2559px) {
    .fa,
    .icon {
        font-size: 1.5rem;
        font-weight: normal;
    }
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .fa,
    .icon {
        font-size: 1.5rem;
        font-weight: normal;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .fa,
    .icon {
        font-size: 1.25rem;
        font-weight: normal;
    }
}

@media (min-width: 0px) and (max-width: 1199px) {
    .fa,
    .icon {
        font-size: 1rem;
        font-weight: normal;
    }
}

.icon,
a .icon {
    text-decoration: none;
}

.icon:visited,
a .icon:visited {
    color: #1B60F4;
}

.icon:hover,
.icon:visited:hover,
a .icon:hover,
a .icon:visited:hover {
    color: #1B60F4;
    text-decoration: none;
}

.btn.btn-primary .icon {
    text-decoration: none;
}

.btn.btn-primary .icon:visited {
    color: #fff;
}

.btn.btn-primary .icon:hover,
.btn.btn-primary .icon:visited:hover {
    color: #fff;
    text-decoration: none;
}

.c-screen {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#c-skip-header {
    padding: 6px;
    position: absolute;
    top: -60px;
    left: 0px;
    color: white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 8px;
    background: #BF1722;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}

#c-skip-header:focus {
    left: 0px;
    top: 0px;
    outline-color: transparent;
    -webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}

.c-header__standard {
    background-color: #000000;
    height: 68px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.c-site-branding {
    padding: 16px 15px 15px;
}

.c-site-branding .c-logo {
    width: 37px;
    height: 37px;
    display: block;
}

.c-site-title {
    margin: 0 260px;
    overflow: hidden;
    padding: 6px 0;
}

.c-site-title .c-site-title__images {
    width: 350px;
    display: block;
    margin: 0 auto;    
    font-size: 48px;
    line-height: 48px;
}

.c-page-title {
    font-size: 26px;
    font-weight: 600;
    font-style: italic;
    color: #fff;
}

.c-page-subtitle {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.c-template-question {
    font-size: 26px;
    color: #fff;
    padding-top: 50px;
    font-weight: 600;
}

.c-header.container {
    height: calc(100vh - 60px);
    position: relative;
}

.c-site-info {
    position: absolute;
    right: 15px;
    top: 16px;
    width: 37px;
    height: 37px;
    background: none;
    border: none;
    display: block;
}

html {
    overflow: hidden;
}

html,
body,
.main-wrapper {
    height: 100%;
    margin: 0;
    background-color: #000000;
}

body {
    background-attachment: fixed;
}

a.btn-primary:focus,
a.btn-primary:active,
button.btn-primary:focus,
button.btn-primary:active {
    color: #fff !important;
}

input:-webkit-autofill {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
}

#c-maincontent {
    position: relative;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*==============Class Page CSS Start Here =======================*/


/*# sourceMappingURL=styles.css.map */


/* GNOME Game **/


/***
    Landing Page : landing-page
***/

.landing-page.description-container {
    height: 90%;
    width: 33%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 32px;
    position: absolute;
    right: 32px !important;
    bottom: -30px !important;
}

.landing-page .description {
    font-size: 34px;
    color: #fff;
    padding-top: 30px;
    font-family: 'museo_sans_rounded300';
}

.landing-page .ready-to {
    font-size: 62px;
    margin-bottom: 15px;
    color: #fff;
    font-family: 'museo_sans_rounded700';
}

.landing-page .btn-play {
    position: absolute;
    bottom: 56px;
    right: 24px;
    font-size: 45px;
    font-family: 'museo_sans_rounded900';
}


/***
    Lost Page : lost-page
***/

.lost-page.message-container {
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    background-color: #ffffff;
    font-family: 'museo_sans_rounded700';
}

.lost-page.btn-play {
    position: absolute;
    bottom: 32px;
    right: 16px;
    font-size: 45px;
    font-family: 'museo_sans_rounded900';
}


/***
    Win Page : win-page
***/

.win-page.message-container {
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    width: 600px;
    background-color: #ffffff;
    font-family: 'museo_sans_rounded700';
}

.win-page.btn-play {
    position: absolute;
    bottom: 32px;
    right: 16px;
    font-size: 45px;
    font-family: 'museo_sans_rounded900';
    padding: 6px 12px;
}


/*Theme1*/

.theme1 .c-site-title .c-site-title__images {
    font-family: 'Bree Serif', serif;
    color: #E25423;
}

.theme1 #lblQuestion {
    width: 624px;
    height: 74px;
    text-align: center;
    font-size: 45px;
    font-family: 'museo_sans_rounded700';
    background: url('../assets/images/theme1/background-question.png') no-repeat;
    background-size: contain;
    padding: 14px 0px;
}

.theme1 .lbl-player-name {
    width: 253px;
    height: 74px;
    text-align: center;
    background: url('../assets/images/theme1/background-name.png') no-repeat;
    background-size: contain;
    padding: 12px 0px;
    font-size: 45px;
}

.theme1 .lbl-player-score {
    width: 253px;
    height: 74px;
    text-align: center;
    background: url('../assets/images/theme1/background-score.png') no-repeat;
    background-size: contain;
    padding: 12px 0px;
    font-size: 45px;
}


/*Theme2*/

.theme2 .c-site-title .c-site-title__images {
    font-family: 'Changa One', cursive;
    color: #ED1C24;
    font-style: italic;
    font-weight: normal;
}

.theme2 #lblQuestion {
    width: 624px;
    height: 74px;
    text-align: center;
    font-size: 45px;
    font-family: 'museo_sans_rounded700';
    background: url('../assets/images/theme1/background-question.png') no-repeat;
    background-size: contain;
    padding: 14px 0px;
}

.theme2 .lbl-player-name {
    width: 253px;
    height: 74px;
    text-align: center;
    background: url('../assets/images/theme1/background-name.png') no-repeat;
    background-size: contain;
    padding: 12px 0px;
    font-size: 45px;
}

.theme2 .lbl-player-score {
    width: 253px;
    height: 74px;
    text-align: center;
    background: url('../assets/images/theme1/background-score.png') no-repeat;
    background-size: contain;
    padding: 12px 0px;
    font-size: 45px;
}


/* Common */

#lblPlayerOneName {}

#lblPlayerTwoName {}

.input-container {
    width: 630px;
    text-align: center;
}

input.txt-input-answer[type=number] {
    -moz-appearance: textfield;
}

input.txt-input-answer[type=number]::-webkit-inner-spin-button,
input.txt-input-answer[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


/***  Information Page ****/

#informationHtml {
    width: 100%;
    height: 100%;
    padding: 74px;
    z-index: 999;
}

.theme1 #informationHtml {
    background: url('../assets/images/theme1/background-info-page.png');
}

.theme2 #informationHtml {
    background: url('../assets/images/theme2/background-info-page.png');
}

#informationHtml #lblReadyToPlay {
    color: #fff;
    font-size: 50px;
    font-family: 'museo_sans_rounded700';
}

#infoContainer {
    display: flex;
    flex-direction: row;
}

#infoContainer>div {
    width: 50%;
}

#infoContainer .item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 48px 0px 0px 0;
}

#infoContainer .item-info-text {
    color: #fff;
    font-size: 30px;
    font-family: 'museo_sans_rounded500';
    padding-left: 26px;
    width: 55%;
}

#infoContainer .item-info img {
    width: 182px;
    height: 182px;
}

#informationHtml #btnInfoClose {
    float: right;
    margin: 14px 128px 0px 0px;
    cursor: pointer;
}


/**** Save Score Page ****/

#saveScoreHtml {
    padding-left: 72px;
    width: 100%;
    margin-top: 218px;
}

#saveScoreHtml #lblWellDone {
    color: #fff;
    font-size: 50px;
    font-family: 'museo_sans_rounded700';
}

#saveScoreHtml #lblAddScore {
    color: #fff;
    font-size: 30px;
    font-family: 'museo_sans_rounded500';
    margin-top: 28px;
    margin-bottom: 78px;
}

#saveScoreContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#saveScoreContainer input,
label {
    display: block;
    font-size: 30px;
    font-family: 'museo_sans_rounded500';
    margin-bottom: 24px;
}

#saveScoreContainer label {
    color: #fff;
}

#saveScoreContainer input {
    width: 10em;
    height: 78px;
    border: none;
    border-radius: 7px;
    padding: 0 16px;
}

#saveScoreContainer #btnGo {
    width: 4em;
    height: 78px;
    font-size: 40px;
    font-family: 'museo_sans_rounded700';
    margin-top: 34px;
    margin-left: 32px;
    cursor: pointer;
}

#saveScoreHtml #lblNoThanks {
    color: #fff;
    font-size: 30px;
    font-family: 'museo_sans_rounded500';
    text-decoration: underline;
    margin-top: 2.7em;
    cursor: pointer;
}

#saveScoreHtml #btnClose {
    position: absolute;
    bottom: -216px;
    right: 128px;
    cursor: pointer;
}


/* To make responsive */


/*-------------------------------------------------------------
------------------@media Rule Start--------------------------*/

@media (min-width: 1400px) {}

@media only screen and (min-width:1170px) and (max-width:1399px) {}


/* ------------------------ SMALL DESKTOP ------------------------*/

@media only screen and (min-width:992px) and (max-width:1169px) {
    .c-site-title .c-site-title__images {}
}


/* ------------------------ TABLET ------------------------*/

@media (min-width: 992px) {}

@media only screen and (min-width:768px) and (max-width:991px) {}


/* ------------------------ Mobile ------------------------*/

@media only screen and (max-width:767px) {}


/* ------------------------ Mobile XS ------------------------*/

@media (max-width: 575px) {}